.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 1rem;
}

.root {
	z-index: 1;
}

.list {
	display: flex;
	list-style: none;
	gap: 2rem;
}

.item>.link {
	font-weight: bold;
}

.link {
	display: block;
	text-decoration: none;
	color: inherit;
}

.logo {
	height: 2.5rem;
	width: auto;
}

.trigger {
	font-weight: bold;
}

.content {
	position: absolute;
	top: calc(100% + 0.5rem);
	left: 0;
	right: 0;
	background-color: var(--surface-grey);
	padding: 0.5rem 1rem;
	border-radius: 10px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.buttons {
	display: flex;
	align-items: center;
	gap: 0.75rem;
}

.buttons a {
	line-height: 0;
}

.buttons img {
	width: 1.2rem;
	height: auto;
}
